html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-text-primary: #9b96bc;
  --color-text-secondary: #fff;
  --color-bg-secondary: #fff;
  --color-text-accent1: #6d22bb;
  --color-text-accent2: #3d2e87;
  --color-bg-accent1: #7026b4;
  --color-text-muted: #9b96bc;
  --color-text-accent3: #000079;
  --color-text-highlight: #3b0e90;
  --color-text-vivid: #6800c9;
  --color-text-info: #265b83;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.section {
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
}

.fw-600 {
  font-weight: 600;
}

.card {
  border-radius: 22px;
  -webkit-box-shadow: 5px 1px 40px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 5px 1px 40px 5px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}

svg {
  fill: currentColor;
}

.page {
  background: url(../img/footer-ellipse.webp) no-repeat, url(../img/about-ellipse.webp) no-repeat;
  background-position: 25% 122%, 5% 12%;
}

.header {
  padding-top: 3.75rem;
  margin-bottom: -8.125rem;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu,
.header-left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.menu-link {
  color: var(--color-text-secondary);
  padding: 0.5rem 0;
  display: inline-block;
}

.hero {
  padding-top: 13.25rem;
  padding-bottom: 7rem;
  background: url(../img/lines.webp) no-repeat top left, url(../img/hero-bg.webp) no-repeat top center, url(../img/hero-line.webp) no-repeat bottom center;
  background-size: 50% auto, contain, contain;
}

.hero-card-top,
.hero-card-bottom {
  border-radius: 1rem;
  position: absolute;
  left: 4rem;
}

.hero-card-top {
  width: 5.5rem;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  top: 40%;
}

.hero-card-top-title {
  font-size: 0.625rem;
  font-weight: 600;
  color: #c6c6c6;
}

.hero-card-value {
  color: #46328c;
  font-size: 1.375rem;
  font-weight: 500;
}

.hero-card-bottom {
  width: 12.5rem;
  height: 9rem;
  padding: 1rem 1.4rem;
  top: 55%;
  background: #fff url(../img/card-lines.webp) no-repeat center;
  background-size: contain;
}

.hero-card-bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-card-bottom-title {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: #817aab;
  margin-bottom: 0.25rem;
}

.hero-card-bottom-label {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1rem;
  color: #d8d8d8;
}

.hero-card-bottom-value {
  color: var(--color-text-accent1);
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}
.hero-card-bottom-value::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--color-bg-accent1);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -0.6rem;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13.5rem;
}

.hero-content {
  text-align: center;
  margin-top: 6rem;
  width: 21.0625rem;
}

.hero-title {
  color: var(--color-text-secondary);
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.25;
  text-align: center;
}

.hero-subtitle {
  color: #d2d0d0;
  font-size: 1.25rem;
}

.hero-image-wrapper {
  position: relative;
}

.btn-download {
  color: #f9f8f8;
  background: #6727ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.gallery {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(3, 360px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.125rem;
  min-height: 20.5rem;
}

.about-card {
  padding: 2rem 1.25rem 1.5rem;
}
.about-card:hover .card-w-link {
  max-height: 6.25rem;
}
.about-card:hover .card-title {
  color: #771ccb;
}

.about-card-icon {
  fill: var(--color-text-accent2);
  margin-bottom: 1.125rem;
}

.card-title {
  color: var(--color-text-accent3);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.card-description {
  font-size: 1.125rem;
  color: var(--color-text-muted);
  line-height: 1.44;
  min-height: 4.8125rem;
}

.card-w-link {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.btn-learn-more,
.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
  margin-top: 3.1rem;
  color: var(--color-text-accent3);
  font-size: 1.125rem;
}

.info-content,
.features-content {
  width: 23.9rem;
}

.section-title {
  color: var(--color-text-accent2);
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.section-description {
  color: var(--color-text-muted);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.btn-learn-more {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}

.features {
  padding-top: 8rem;
  position: relative;
  background: url(../img/union.webp) no-repeat top right, url(../img/features-bg.webp) no-repeat top center;
  background-size: 40%, 100% 90%;
  height: 40rem;
}

.features-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0;
}

.features-card {
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(133.55deg, rgb(249, 248, 250) 21.197%, rgb(220, 199, 241) 94.082%);
}
.features-card:first-child {
  width: 16rem;
}
.features-card:first-child::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3.75rem;
  top: 0;
  left: -3.75rem;
  background: url(../img/part-card.webp) no-repeat center;
  background-size: cover;
}

.features-card-bg {
  width: 20.8rem;
  background: url(../img/card-lines.webp) no-repeat center, linear-gradient(133.55deg, rgb(249, 248, 250) 21.197%, rgb(220, 199, 241) 94.082%);
  background-size: contain;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.features-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #6b0cb2;
  margin-bottom: 0.625rem;
}
.features-card-header .features-card-title {
  margin-bottom: 0;
}

.features-card-value {
  position: absolute;
  color: var(--color-text-accent1);
  left: 3rem;
  bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 2rem;
}
.features-card-value::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background: var(--color-bg-accent1);
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: -1.5rem;
}

.features-card {
  position: relative;
}

.features-card-title {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 4%;
  margin-bottom: 1.25rem;
  color: #422191;
}

.features-card-subtitle {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 4%;
  color: #772ac7;
  margin-bottom: 1.875rem;
}

.features-card-text {
  color: var(--color-text-highlight);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.features-card-num {
  color: var(--color-text-highlight);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 4%;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.features-card-c {
  font-size: 1rem;
  font-weight: 500;
  color: #000086;
}

.features-card-visa {
  color: #222357;
  font-style: italic;
}

.features-card-label {
  font-size: 1rem;
  font-weight: 600;
  color: #c7c7c7;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  position: relative;
  margin-top: -25rem;
}

.info-title {
  width: 12.5rem;
}

.info .btn-download {
  letter-spacing: -2%;
  font-size: 1.125rem;
  background: #504193;
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25.4rem;
}

.container-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.blog-title {
  width: 18.75rem;
  margin-bottom: 0;
}

.blog-background {
  height: 17.4rem;
  width: 94%;
  margin: 0 auto;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.298%, rgb(80, 46, 156)), color-stop(97.406%, rgb(128, 42, 209)));
  background: linear-gradient(180deg, rgb(80, 46, 156) 2.298%, rgb(128, 42, 209) 97.406%);
}

.blog-body {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.blog-gallery {
  margin-top: -13.75rem;
}

.slick-slider .slick-list {
  padding-top: 5rem !important;
  padding-bottom: 2rem !important;
}

.blog-card {
  padding: 3.75rem 3rem 2.5rem;
  position: relative;
  margin-left: 1rem;
}
.blog-card .blog-card-avatar {
  opacity: 0.6;
}
.blog-card.slick-center {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}
.blog-card.slick-center .blog-card-avatar {
  opacity: 1;
}

.blog-card-avatar-wrapper {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--color-bg-secondary, #fff);
  background: var(--color-bg-secondary, #fff);
  position: absolute;
  left: 3rem;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.875rem;
}

.slick-center .blog-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 6%;
  color: #6e1eba;
}

.slick-center .blog-gallery .star {
  color: #6e2cbd;
}

.slick-center .blog-card-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0%;
  color: #5e5299;
}

.slick-center .blog-card-description {
  font-size: 1.125rem;
  letter-spacing: -2%;
  line-height: 1.77;
  color: #7871a7;
}

.blog-card-title {
  color: rgba(110, 30, 186, 0.37);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 6%;
}

.blog-gallery .star {
  color: rgba(110, 44, 189, 0.58);
}

.blog-card-subtitle {
  color: rgba(94, 82, 153, 0.56);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0%;
}

.blog-card-description {
  color: rgba(120, 113, 167, 0.49);
  font-size: 1rem;
  line-height: 1.75;
}

.stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.blog-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-controls .btn {
  background: transparent;
  color: #2c0e85;
}

.pricing {
  padding-bottom: 8rem;
  background: url(../img/ellipse.webp) no-repeat;
  background-position: top 150px center;
  background-size: cover;
}

.pricing-description,
.pricing-title {
  text-align: center;
}

.pricing-description {
  max-width: 44rem;
  margin: 0 auto;
  font-size: 1.625rem;
  letter-spacing: -6%;
  color: var(--color-text-muted);
  margin-bottom: 7.9rem;
}

.pricing-gallery {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 33.125rem;
}

.pricing-card {
  -webkit-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
  padding: 4rem 2.75rem;
  text-align: center;
}
.pricing-card:hover {
  z-index: 2;
  padding: 6rem 2.75rem;
}
.pricing-card:hover .btn-purchase {
  color: var(--color-text-secondary, #fff);
  background: #61559e;
}
.pricing-card:hover .pricing-card-subtitle {
  color: #6a28b8;
}

.pricing-card-title {
  font-size: 1.5rem;
  margin-bottom: 2.43rem;
  letter-spacing: 2%;
  line-height: 2rem;
  color: #4c408d;
}

.pricing-card-subtitle {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #322485;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 2%;
  margin-bottom: 0.7rem;
}

.pricing-card-text {
  font-size: 1.25rem;
  letter-spacing: 2%;
  color: #7f16ce;
  margin-bottom: 1.375rem;
}

.pricing-card-description {
  color: var(--color-text-muted);
  font-size: 1.125rem;
  line-height: 1.77;
  margin-bottom: 3.25rem;
}

.btn-purchase {
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  border: 1px solid var(--color-text-muted);
  border-radius: 1.5rem;
  font-size: 1.125rem;
  background: var(--color-bg-secondary, #fff);
  padding: 0.5rem 4rem;
  color: #544993;
}

.banner {
  padding-top: 0;
}

.container-banner {
  padding: 4rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(175.43deg, rgb(61, 46, 135) 4.848%, rgb(135, 45, 218) 42.421%);
}

.content-banner {
  text-align: center;
  width: 31.25rem;
  margin: 0 auto;
}

.banner-title {
  color: var(--color-text-secondary, #fff);
}

.btn-banner {
  background: #e6ddf2;
  color: #9259d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  margin: 0 auto;
  border: 0;
  -webkit-box-shadow: 6px 29px 17.4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 29px 17.4px 0px rgba(0, 0, 0, 0.25);
}

.banner-description {
  padding: 0 2rem;
}

.footer-body {
  display: grid;
  grid-template-columns: 45% 55%;
  border-top: 2px solid #d8c7ed;
  padding: 2.68rem 0 6rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #647d98;
}

.footer-column-title {
  color: var(--color-text-vivid);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.footer-link-list {
  display: grid;
  gap: 0.5rem;
}

.footer-link {
  color: var(--color-text-info);
  font-size: 1rem;
  line-height: 1.6;
}

.footer-app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  margin-bottom: 1.5rem;
}

.language-selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--color-text-vivid);
}

.selected-option {
  width: 5rem;
  padding: 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-info);
}

.options-list {
  top: 100%;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  display: none;
  position: absolute;
  width: 100%;
  background: var(--color-bg-secondary, #fff);
  z-index: 1;
}

.language-selector.active .options-list {
  display: block;
}

.option {
  padding: 0.625rem;
  border-bottom: 1px solid #eee;
  color: var(--color-text-info);
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  background: #f0f0f0;
}

.icon-t {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.language-selector.active .icon-t {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}/*# sourceMappingURL=main.css.map */