.page {
    background: url(../img/footer-ellipse.webp) no-repeat,
        url(../img/about-ellipse.webp) no-repeat;
    background-position: 25% 122%, 5% 12%;
}

.header {
    padding-top: 3.75rem;
    margin-bottom: -130px;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu,
.header-left-col {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.menu-link {
    color: var(--color-text-secondary);
    padding: 0.5rem 0;
    display: inline-block;
}

.hero {
    padding-top: 13.25rem;
    padding-bottom: 7rem;
    background: url(../img/lines.webp) no-repeat top left,
        url(../img/hero-bg.webp) no-repeat top center,
        url(../img/hero-line.webp) no-repeat bottom center;
    background-size: 50% auto, contain, contain;
}

.hero-card-top,
.hero-card-bottom {
    border-radius: 17px;
    position: absolute;
    left: 4rem;
}

.hero-card-top {
    width: 5.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    top: 40%;
}

.hero-card-top-title {
    font-size: 0.625rem;
    font-weight: 600;
    color: #c6c6c6;
}

.hero-card-value {
    color: #46328c;
    font-size: 1.375rem;
    font-weight: 500;
}

.hero-card-bottom {
    width: 12.5rem;
    height: 9rem;
    padding: 1rem 1.4rem;
    top: 55%;
    background: #fff url(../img/card-lines.webp) no-repeat center;
    background-size: contain;
}

.hero-card-bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-card-bottom-title {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: #817aab;
    margin-bottom: 0.25rem;
}

.hero-card-bottom-label {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1rem;
    color: #d8d8d8;
}

.hero-card-bottom-value {
    color: #6d22bb;
    font-size: 0.875rem;
    font-weight: 500;
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    &::after {
        content: '';
        position: absolute;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background: #7026b4;
        top: 50%;
        transform: translateY(-50%);
        left: -0.6rem;
    }
}

.container-hero {
    display: flex;
    justify-content: center;
    gap: 13.5rem;
}

.hero-content {
    text-align: center;
    margin-top: 6rem;
    width: 337px;
}

.hero-title {
    color: var(--color-text-secondary);
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.25;
    text-align: center;
}

.hero-subtitle {
    color: #d2d0d0;
    font-size: 1.25rem;
}

.hero-image-wrapper {
    position: relative;
}

.btn-download {
    color: #f9f8f8;
    background: #6727ad;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gallery {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 1.125rem;
    min-height: 20.5rem;
}

.about-card {
    padding: 2rem 1.25rem 1.5rem;
    &:hover .card-w-link {
        max-height: 100px;
    }
    &:hover .card-title {
        color: #771ccb;
    }
}

.about-card-icon {
    fill: #3d2e87;
    margin-bottom: 1.125rem;
}

.card-title {
    color: #000079;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.75rem;
    transition: color 0.5s ease-in-out;
}

.card-description {
    font-size: 1.125rem;
    color: #9b96bc;
    line-height: 1.44;
    min-height: 4.8125rem;
}

.card-w-link {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.btn-learn-more,
.card-link {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 3.1rem;
    color: #000079;
    font-size: 1.125rem;
}

.info-content,
.features-content {
    width: 23.9rem;
}

.section-title {
    color: #3d2e87;
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.section-description {
    color: #9b96bc;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.btn-learn-more {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}

.features {
    padding-top: 8rem;
    position: relative;
    background: url(../img/union.webp) no-repeat top right,
        url(../img/features-bg.webp) no-repeat top center;
    background-size: 40%, 100% 90%;
    height: 40rem;
}

.features-gallery {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 0;
}

.features-card {
    padding: 2.5rem 2rem;
    border-radius: 23px;
    background: linear-gradient(
        133.55deg,
        rgb(249, 248, 250) 21.197%,
        rgb(220, 199, 241) 94.082%
    );
    &:first-child {
        width: 16rem;
    }
    &:first-child::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 3.75rem;
        top: 0;
        left: -3.75rem;
        background: url(../img/part-card.webp) no-repeat center;
        background-size: cover;
    }
}

.features-card-bg {
    width: 20.8rem;
    background: url(../img/card-lines.webp) no-repeat center,
        linear-gradient(
            133.55deg,
            rgb(249, 248, 250) 21.197%,
            rgb(220, 199, 241) 94.082%
        );
    background-size: contain;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.features-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: #6b0cb2;
    margin-bottom: 0.625rem;
    & .features-card-title {
        margin-bottom: 0;
    }
}

.features-card-value {
    position: absolute;
    color: #6d22bb;
    left: 3rem;
    bottom: 1rem;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    &::after {
        content: '';
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 50%;
        background: #7026b4;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -1.5rem;
    }
}

.features-card {
    position: relative;
}

.features-card-title {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 4%;
    margin-bottom: 1.25rem;
    color: #422191;
}
.features-card-subtitle {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 4%;
    color: #772ac7;
    margin-bottom: 1.875rem;
}
.features-card-text {
    color: #3b0e90;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}
.features-card-num {
    color: #3b0e90;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 4%;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}
.features-card-c {
    font-size: 1rem;
    font-weight: 500;
    color: #000086;
}

.features-card-visa {
    color: #222357;
    font-style: italic;
}

.features-card-label {
    font-size: 1rem;
    font-weight: 600;
    color: #c7c7c7;
}

.container-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    position: relative;
    margin-top: -25rem;
}

.info-title {
    width: 12.5rem;
}

.info .btn-download {
    letter-spacing: -2%;
    font-size: 1.125rem;
    background: #504193;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25.4rem;
}

.container-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.blog-title {
    width: 18.75rem;
    margin-bottom: 0;
}

.blog-background {
    height: 17.4rem;
    width: 94%;
    margin: 0 auto;
    border-radius: 17px;
    background: linear-gradient(
        180deg,
        rgb(80, 46, 156) 2.298%,
        rgb(128, 42, 209) 97.406%
    );
}

.blog-body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.blog-gallery {
    margin-top: -13.75rem;
}

.slick-slider .slick-list {
    padding-top: 5rem !important;
    padding-bottom: 2rem !important;
}

.blog-card {
    padding: 3.75rem 3rem 2.5rem;
    position: relative;
    margin-left: 1rem;
    & .blog-card-avatar {
        opacity: 0.6;
    }
    &.slick-center {
        transform: translateY(-1.5rem);
        & .blog-card-avatar {
            opacity: 1;
        }
    }
}

.blog-card-avatar-wrapper {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    background: #fff;
    position: absolute;
    left: 3rem;
    top: 0;
    transform: translateY(-50%);
}

.blog-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem;
}

.slick-center .blog-card-title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 6%;
    color: #6e1eba;
}

.slick-center .blog-gallery .star {
    color: #6e2cbd;
}

.slick-center .blog-card-subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0%;
    color: #5e5299;
}

.slick-center .blog-card-description {
    font-size: 1.125rem;
    letter-spacing: -2%;
    line-height: 1.77;
    color: #7871a7;
}

.blog-card-title {
    color: rgba(110, 30, 186, 0.37);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 6%;
}

.blog-gallery .star {
    color: rgba(110, 44, 189, 0.58);
}

.blog-card-subtitle {
    color: rgba(94, 82, 153, 0.56);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0%;
}

.blog-card-description {
    color: rgba(120, 113, 167, 0.49);
    font-size: 1rem;
    line-height: 1.75;
}

.stars-list {
    display: flex;
    gap: 0.6rem;
}

.blog-controls {
    display: flex;
    & .btn {
        background: transparent;
        color: #2c0e85;
    }
}

.pricing {
    padding-bottom: 8rem;
    background: url(../img/ellipse.webp) no-repeat;
    background-position: top 150px center;
    background-size: cover;
}

.pricing-description,
.pricing-title {
    text-align: center;
}

.pricing-description {
    max-width: 44rem;
    margin: 0 auto;
    font-size: 1.625rem;
    letter-spacing: -6%;
    color: #9b96bc;
    margin-bottom: 7.9rem;
}

.pricing-gallery {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 530px;
}

.pricing-card {
    transition: padding 0.5s ease-in-out;
    padding: 4rem 2.75rem;
    text-align: center;

    &:hover {
        z-index: 2;
        padding: 6rem 2.75rem;
    }
    &:hover .btn-purchase {
        color: #fff;
        background: #61559e;
    }
    &:hover .pricing-card-subtitle {
        color: #6a28b8;
    }
}

.pricing-card-title {
    font-size: 1.5rem;
    margin-bottom: 2.43rem;
    letter-spacing: 2%;
    line-height: 2rem;
    color: #4c408d;
}
.pricing-card-subtitle {
    transition: color 0.5s ease-in-out;
    color: #322485;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 2%;
    margin-bottom: 0.7rem;
}
.pricing-card-text {
    font-size: 1.25rem;
    letter-spacing: 2%;
    color: #7f16ce;
    margin-bottom: 1.375rem;
}
.pricing-card-description {
    color: #9b96bc;
    font-size: 1.125rem;
    line-height: 1.77;
    margin-bottom: 3.25rem;
}

.btn-purchase {
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    border: 1px solid #9b96bc;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    background: #fff;
    padding: 0.5rem 4rem;
    color: #544993;
}

.banner {
    padding-top: 0;
}

.container-banner {
    padding: 4rem 2rem;
    border-radius: 17px;
    background: linear-gradient(
        175.43deg,
        rgb(61, 46, 135) 4.848%,
        rgb(135, 45, 218) 42.421%
    );
}

.content-banner {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.banner-title {
    color: #fff;
}

.btn-banner {
    background: #e6ddf2;
    color: #9259d5;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
    margin: 0 auto;
    border: 0;
    box-shadow: 6px 29px 17.4px 0px rgba(0, 0, 0, 0.25);
}

.banner-description {
    padding: 0 2rem;
}

.footer-body {
    display: grid;
    grid-template-columns: 45% 55%;
    border-top: 2px solid #d8c7ed;
    padding: 2.68rem 0 6rem;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4%;
    color: #647d98;
}

.footer-column-title {
    color: #6800c9;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.footer-link-list {
    display: grid;
    gap: 0.5rem;
}

.footer-link {
    color: #265b83;
    font-size: 1rem;
    line-height: 1.6;
}

.footer-app-links {
    display: flex;
    gap: 1.125rem;
    margin-bottom: 1.5rem;
}

.language-selector {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: #6800c9;
}

.selected-option {
    width: 5rem;
    padding: 0.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #265b83;
}

.options-list {
    top: 100%;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.language-selector.active .options-list {
    display: block;
}

.option {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #265b83;
}

.option:last-child {
    border-bottom: none;
}

.option:hover {
    background-color: #f0f0f0;
}

.icon-t {
    transition: transform 0.3s ease-in-out;
}

.language-selector.active .icon-t {
    transform: rotate(180deg);
}
