:root {
    --color-text-primary: #9b96bc;
    --color-text-secondary: #fff;
    --color-bg-secondary: #fff;
    --color-text-accent1: #6d22bb;
    --color-text-accent2: #3d2e87;
    --color-bg-accent1: #7026b4;
    --color-text-muted: #9b96bc;
    --color-text-accent3: #000079;
    --color-text-highlight: #3b0e90;
    --color-text-vivid: #6800c9;
    --color-text-info: #265b83;
}
